* { margin:0; padding:0; box-sizing: border-box; }

h1,h2,p { font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

p {text-align: center;}

h2 { font-size: 90px; color: white; }

header { background-image: linear-gradient(to right,#20b2aa,white); padding: 2%; }
.menu { display:inline }
.descriptionText { margin-top: 1%; text-align: justify; }
.manualText { margin-top: 2%; font-style: italic; text-align: center;}

.nav {
  background-image: linear-gradient(to right,#20b2aa,white); padding: 2%;
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

footer { position: fixed; bottom:0; padding-left: 3%; }

#progress-bar{
    margin-top: 5%;
    margin-left: 32%;
    justify-content: center;
    align-items: center;
}

.fruit-type {
    text-align: justify;
    vertical-align: right;
    

}

#knappar {
    text-align: center;
    margin-top:-4%;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
    align-items: center;
    margin-left: 21%;
  }
  #gallery img {
    border-radius: 10px;
    width:250px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    
  }
  .add-picture {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .add-picture:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 37%;
  }

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.predict { background-color: #4CAF50;  } 


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

